{% extends 'base.html.twig' %}

{% block title %}Editar {{ bairro.nome }} - {{ parent() }}{% endblock %}

{% block content %}
<div class="container-fluid">
    {% include '_partials/breadcrumb.html.twig' with {
        'items': [
            {'label': 'Endereços', 'url': path('app_enderecos')},
            {'label': 'Lista de Bairros', 'url': path('app_bairro_index')}
        ],
        'current': 'Editar Bairro'
    } %}
    <div class="row">
        <div class="col-12">
            <div class="d-flex justify-content-between align-items-center mb-3">
                <h1><i class="fas fa-edit"></i> Editar Bairro: {{ bairro.nome }}</h1>
                <div>
                    <a href="{{ path('app_bairro_show', {'id': bairro.id}) }}" class="btn btn-info">
                        <i class="fas fa-eye"></i> Visualizar
                    </a>
                    <a href="{{ path('app_bairro_index') }}" class="btn btn-secondary ms-2">
                        <i class="fas fa-arrow-left"></i> Voltar
                    </a>
                </div>
            </div>

            <div class="card">
                <div class="card-body">
                    {{ form_start(form, {'attr': {'class': 'needs-validation', 'novalidate': true}}) }}
                        <div class="row">
                            <div class="col-md-6">
                                {{ form_row(form.nome) }}
                            </div>
                            <div class="col-md-6">
                                <label class="form-label">Cidade</label>
                                {{ form_widget(form.cidade) }}
                                <div class="autocomplete-wrapper" data-url="{{ path('app_autocomplete_cidades') }}" data-hidden="#{{ form.cidade.vars.id }}" data-min="1"{% if preloads.cidade is defined and preloads.cidade %} data-preload-label="{{ preloads.cidade }}"{% endif %}>
                                    <div class="input-group">
                                        <span class="input-group-text"><i class="fas fa-search"></i></span>
                                        <input type="text" class="form-control autocomplete-display" placeholder="Digite para buscar cidade...">
                                    </div>
                                    <div class="autocomplete-results list-group" style="display:none; position:absolute; z-index:1050; width:100%;"></div>
                                </div>
                                {{ form_errors(form.cidade) }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                {{ form_row(form.codigo) }}
                            </div>
                        </div>
                        
                        <div class="row mt-3">
                            <div class="col-12">
                                <button type="submit" class="btn btn-success">
                                    <i class="fas fa-save"></i> Salvar Alterações
                                </button>
                                <a href="{{ path('app_bairro_show', {'id': bairro.id}) }}" class="btn btn-info ms-2">
                                    <i class="fas fa-eye"></i> Ver Bairro
                                </a>
                                <a href="{{ path('app_bairro_index') }}" class="btn btn-secondary ms-2">
                                    <i class="fas fa-times"></i> Cancelar
                                </a>
                            </div>
                        </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
</div>
<script src="{{ asset('js/generic_autocomplete.js') }}"></script>
{% endblock %}
