{% extends 'base.html.twig' %}

{% block title %}Editar {{ logradouro.logradouro }} - {{ parent() }}{% endblock %}

{% block content %}
<div class="container-fluid">
    {% include '_partials/breadcrumb.html.twig' with {
        'items': [
            {'label': 'Logradouros', 'url': path('app_logradouro_index')},
            {'label': 'Lista de Logradouros', 'url': path('app_logradouro_index')}
        ],
        'current': 'Editar Logradouro'
    } %}
    <div class="row">
        <div class="col-12">
            <div class="d-flex justify-content-between align-items-center mb-3">
                <h1><i class="fas fa-edit"></i> Editar Logradouro: {{ logradouro.logradouro }}</h1>
                <div>
                    <a href="{{ path('app_logradouro_show', {'id': logradouro.id}) }}" class="btn btn-info">
                        <i class="fas fa-eye"></i> Visualizar
                    </a>
                    <a href="{{ path('app_logradouro_index') }}" class="btn btn-secondary ms-2">
                        <i class="fas fa-arrow-left"></i> Voltar
                    </a>
                </div>
            </div>

            <div class="card">
                <div class="card-body">
                    {{ form_start(form, {'attr': {'class': 'needs-validation', 'novalidate': true}}) }}
                        <div class="row">
                            <div class="col-md-6">
                                {{ form_row(form.logradouro) }}
                            </div>
                            <div class="col-md-6">
                                {{ form_row(form.bairro) }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                {{ form_row(form.cep) }}
                            </div>
                        </div>
                        
                        <div class="row mt-3">
                            <div class="col-12">
                                <button type="submit" class="btn btn-success">
                                    <i class="fas fa-save"></i> Salvar Alterações
                                </button>
                                <a href="{{ path('app_logradouro_show', {'id': logradouro.id}) }}" class="btn btn-info ms-2">
                                    <i class="fas fa-eye"></i> Ver Logradouro
                                </a>
                                <a href="{{ path('app_logradouro_index') }}" class="btn btn-secondary ms-2">
                                    <i class="fas fa-times"></i> Cancelar
                                </a>
                            </div>
                        </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
