{% extends 'base.html.twig' %}

{% block title %}Nova Conta Almasa - {{ parent() }}{% endblock %}

{% block content %}
<div class="container-fluid">
    {% include '_partials/breadcrumb.html.twig' with {
        'items': [
            {'label': 'Financeiro', 'url': '#'},
            {'label': 'Plano de Contas Almasa', 'url': path('app_almasa_plano_contas_index')}
        ],
        'current': 'Nova Conta'
    } %}
    <div class="row">
        <div class="col-12">
            <div class="d-flex justify-content-between align-items-center mb-3">
                <h1><i class="fas fa-plus"></i> Nova Conta Almasa</h1>
                <a href="{{ path('app_almasa_plano_contas_index') }}" class="btn btn-secondary">
                    <i class="fas fa-arrow-left"></i> Voltar
                </a>
            </div>

            <div class="card">
                <div class="card-body">
                    {{ form_start(form, {'attr': {'class': 'needs-validation', 'novalidate': true}}) }}
                        <div class="row">
                            <div class="col-md-2">
                                {{ form_row(form.codigo) }}
                            </div>
                            <div class="col-md-4">
                                {{ form_row(form.descricao) }}
                            </div>
                            <div class="col-md-2">
                                {{ form_row(form.tipo) }}
                            </div>
                            <div class="col-md-2">
                                {{ form_row(form.nivel) }}
                            </div>
                            <div class="col-md-2">
                                {{ form_row(form.pai) }}
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col-md-2">
                                <div class="form-check">
                                    {{ form_widget(form.aceitaLancamentos) }}
                                    {{ form_label(form.aceitaLancamentos) }}
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-check">
                                    {{ form_widget(form.ativo) }}
                                    {{ form_label(form.ativo) }}
                                </div>
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-12">
                                <button type="submit" class="btn btn-success">
                                    <i class="fas fa-save"></i> Salvar
                                </button>
                                <a href="{{ path('app_almasa_plano_contas_index') }}" class="btn btn-secondary ms-2">
                                    <i class="fas fa-times"></i> Cancelar
                                </a>
                            </div>
                        </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
