{% extends 'base.html.twig' %}

{% block title %}Novo Lançamento Almasa - {{ parent() }}{% endblock %}

{% block content %}
<div class="container-fluid">
    {% include '_partials/breadcrumb.html.twig' with {
        'items': [
            {'label': 'Financeiro', 'url': '#'},
            {'label': 'Lançamentos Almasa', 'url': path('app_almasa_lancamentos_index')}
        ],
        'current': 'Novo Lançamento'
    } %}
    <div class="row">
        <div class="col-12">
            <div class="d-flex justify-content-between align-items-center mb-3">
                <h1><i class="fas fa-plus"></i> Novo Lançamento Almasa</h1>
                <a href="{{ path('app_almasa_lancamentos_index') }}" class="btn btn-secondary">
                    <i class="fas fa-arrow-left"></i> Voltar
                </a>
            </div>

            <div class="card">
                <div class="card-body">
                    {{ form_start(form, {'attr': {'class': 'needs-validation', 'novalidate': true}}) }}
                        <div class="row">
                            <div class="col-md-2">
                                {{ form_row(form.tipo) }}
                            </div>
                            <div class="col-md-4">
                                {% include '_partials/autocomplete_field.html.twig' with {
                                    id: 'almasa_lancamento_almasaPlanoConta',
                                    name: 'almasa_lancamento[almasaPlanoConta]',
                                    label: 'Plano de Contas Almasa',
                                    url: path('app_autocomplete_almasa_plano_contas') ~ '?lancamentos=1',
                                    value: form.almasaPlanoConta.vars.value|default(''),
                                    display: preloads.almasaPlanoConta|default(''),
                                    placeholder: 'Digite codigo ou descricao...',
                                    required: true
                                } %}
                            </div>
                            <div class="col-md-3">
                                {{ form_row(form.descricao) }}
                            </div>
                            <div class="col-md-3">
                                {{ form_row(form.valor) }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                {{ form_row(form.dataCompetencia) }}
                            </div>
                            <div class="col-md-3">
                                {{ form_row(form.dataVencimento) }}
                            </div>
                            <div class="col-md-3">
                                {{ form_row(form.dataPagamento) }}
                            </div>
                            <div class="col-md-3">
                                {{ form_row(form.status) }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                {% include '_partials/autocomplete_field.html.twig' with {
                                    id: 'almasa_lancamento_contaBancaria',
                                    name: 'almasa_lancamento[contaBancaria]',
                                    label: 'Conta Bancaria',
                                    url: path('app_autocomplete_contas_bancarias'),
                                    value: form.contaBancaria.vars.value|default(''),
                                    display: preloads.contaBancaria|default(''),
                                    placeholder: 'Digite para buscar conta...'
                                } %}
                            </div>
                            <div class="col-md-8">
                                {{ form_row(form.observacao) }}
                            </div>
                        </div>

                        <div class="row mt-3">
                            <div class="col-12">
                                <button type="submit" class="btn btn-success">
                                    <i class="fas fa-save"></i> Salvar
                                </button>
                                <a href="{{ path('app_almasa_lancamentos_index') }}" class="btn btn-secondary ms-2">
                                    <i class="fas fa-times"></i> Cancelar
                                </a>
                            </div>
                        </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block javascripts %}
{{ parent() }}
<script src="{{ asset('js/generic_autocomplete.js') }}"></script>
{% endblock %}
