{% extends 'base.html.twig' %}

{% block title %}Pessoas
{% endblock %}

{% block content %}
	<h1>Pessoas</h1>

	<table class="table">
		<thead>
			<tr>
				<th>ID</th>
				<th>Nome</th>
				<th>Data Cadastro</th>
				<th>Tipo Pessoa</th>
				<th>Status</th>
				<th>Theme Light</th>
				<th>User ID</th>
				<th>Ações</th>
			</tr>
		</thead>
		<tbody>
			{% for pessoa in pessoas %}
				<tr>
					<td>{{ pessoa.id }}</td>
					<td>{{ pessoa.nome }}</td>
					<td>{{ pessoa.dtCadastro|date('d/m/Y H:i') }}</td>
					<td>{{ pessoa.tipoPessoa}}</td>
					<td>{{ pessoa.status ? 'Ativo' : 'Inativo' }}</td>
					<td>{{ pessoa.themeLight ? 'Claro' : 'Escuro' }}</td>
					<td>{{ pessoa.user.id }}</td>
					<td>
						<a href="{{ path('app_pessoa_show', {'id': pessoa.id}) }}">Ver</a>
						<a href="{{ path('app_pessoa_edit', {'id': pessoa.id}) }}">Editar</a>
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="8">Nenhum registro encontrado.</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

	<a href="{{ path('app_pessoa_new') }}">Criar nova Pessoa</a>
{% endblock %}
