{% extends 'base.html.twig' %}

{% block title %}Editar Corretor{% endblock %}

{% block content %}
<div class="container-fluid">
    {% include '_partials/breadcrumb.html.twig' with {
        'items': [
            {'label': 'Corretores', 'url': path('app_pessoa_corretor_index')}
        ],
        'current': 'Editar Corretor'
    } %}

    <h1><i class="fas fa-edit"></i> Editar Corretor</h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button type="submit" class="btn btn-success">Salvar Alterações</button>
    <a href="{{ path('app_pessoa_corretor_index') }}" class="btn btn-secondary">Voltar</a>
    {{ form_end(form) }}

    {{ include('pessoa_corretor/_delete_form.html.twig') }}
</div>
{% endblock %}