{% extends 'base.html.twig' %}

{% block title %}Novo Corretor{% endblock %}

{% block content %}
<div class="container-fluid">
    {% include '_partials/breadcrumb.html.twig' with {
        'items': [
            {'label': 'Lista de Corretores', 'url': path('app_pessoa_corretor_index')}
        ],
        'current': 'Novo Corretor'
    } %}
    <h1>Novo Corretor</h1>
    <a href="{{ path('app_pessoa_corretor_index') }}" class="btn btn-secondary mb-3">Voltar</a>
    
    {{ form_start(form) }}
    <div class="card mb-4">
        <div class="card-body">
            <div class="row mb-3">
                <div class="col-md-6">
                    {% include '_partials/autocomplete_field.html.twig' with {
                        id: 'pessoa_corretor_pessoa',
                        name: 'pessoa_corretor[pessoa]',
                        label: 'Pessoa',
                        url: path('app_autocomplete_pessoas'),
                        value: form.pessoa.vars.value|default(''),
                        display: preloads.pessoa|default(''),
                        placeholder: 'Digite para buscar pessoa...',
                        required: true
                    } %}
                </div>
                <div class="col-md-6">
                    {{ form_row(form.creci) }}
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-md-4">{{ form_row(form.usuario) }}</div>
                <div class="col-md-4">{{ form_row(form.status) }}</div>
                <div class="col-md-4">{{ form_row(form.dataCadastro) }}</div>
            </div>
            <div class="row">
                <div class="col-md-12">{{ form_row(form.ativo) }}</div>
            </div>
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Salvar</button>
    {{ form_end(form) }}
</div>
{% endblock %}

{% block javascripts %}
{{ parent() }}
<script src="{{ asset('js/generic_autocomplete.js') }}"></script>
{% endblock %}